*{margin:0; padding:0; list-style: none; text-decoration: none;}
body{background:black;}
h1{
    color: white;
    text-align:center;

}

#warp iframe{ left:80%;width:100px; height:100px;}
#body{overflow:hidden; width:100%; height:100%;}
.loading{ background: #000000;
    overflow: hidden;
    position: absolute;
    z-index: 999;
    width: 100%;
    height: 100%;
    font: 5vw/100vh "Rock Salt";
    text-align: center;
    color: transparent;
    backface-visibility: hidden;}
.warp{width:100%; height:100%;}
.warp img{width:100%; height:100%;}
.top_content{position:relative; width:100%;height:100%; z-index:101; }
.top_content_h2{position: absolute;  top: 50%; left: 50%;
    transform: translate(-50%, -50%); font-size: 30px; z-index: 2; color: white;text-align: center;
    font-weight: 600;font-family: 'Oswald', sans-serif;}
.middle_content{position:relative; width: calc(100% - 100px);max-width: 1500px; background: black; height:2680px; z-index:90;top:0; margin:0 auto;}
.middle_content .img_content {width: calc(100% - 80px);padding-left: 80px; background: white;}
.content_array{width:auto; height:auto;}

.content_array>div{    height: 100%;left: 0;top: 0;padding-top: 7%;margin-left: 3%;padding-right: 10%;
    text-decoration: none;margin-bottom: 100px;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
    display: block;float: left;
    width: 30%; position: relative; font-family: 'Oswald', sans-serif;
    transition-duration:1s;-webkit-transition: width 1s, height 3s;
    transition: all .5s ease-out;
    color:white;
}
.content_array>div>img{    padding-left: 80px;}
.img_array_1 , .img_array_2, .img_array_3, .img_array_4{width: calc(50% - 160px);}
.img_array_1 , .img_array_2, .img_array_3, .img_array_4>*{object-fit: cover;height: 100%;width: 100%;left: 0;top: 0;}
.img_array_5 , .img_array_6{padding-top:0;}
.p_array{font-size: 40px;font-weight: 700;line-height: 1.1;margin: 0 0 5px;text-transform: uppercase;transition-duration:1s; }
.side_p{font-size: 20px;position: absolute;width: -moz-fit-content;width: fit-content;bottom: 94%;left: calc(100% - 13px);letter-spacing: 1px;
    text-transform: uppercase;-webkit-transform-origin: bottom left;-ms-transform-origin: bottom left;transform-origin: bottom left;-webkit-backface-visibility: hidden;
    backface-visibility: hidden;transition: -webkit-transform .6s cubic-bezier(.58,.14,.06,1);transform: rotate(90deg) translateX(0px);}

.content_array>div:hover .p_array{transform: translateY(-95px); }
.content_array>div>img{ transition-duration:1s; }
.content_array>div:hover img{  opacity: 0.5; }
.content_array>div:hover .side_p{transform: rotate(90deg) translateX(60%);}
.img_array_2 {    margin-top: 8%;}
.img_array_3{ margin-top: -3%; padding-top:0;}
.img_array_4{margin-top:21%;}


.menu_box {  width:100%; height:80px; position:fixed;top:100px;     left: 55%;  transition:all 0.5s ease-in-out;
    -webkit-transition:all 0.5s ease-in-out;   z-index:130; transform: rotate(90deg) translateX(0px); text-decoration: none;}
.menu_box > *{color:white;}
.menu_inner { width:1400px; height:80px; margin:8%; }
.fixed { background:rgba(0,0,0,0.3); transition:all 0.5s ease-in-out; -webkit-transition:all 0.5s ease-in-out; }
.logo a { float:left; font-size:30px; line-height:80px; color:#000; }
.menu_box .menu_inner > ul {

    margin-right: -30px;
    padding: 0 35px 0 0;
    width: 100%;
    position: relative;
    right: -30%;
}
.menu_box .menu_inner li { float:left; text-align:center; margin-left:65px; }
.menu_box .menu_inner li a { text-decoration:none; color: #ffffff; line-height:80px; font-size:12px; }


/* 두번째 컨텐츠 */
#section02{margin-top:300px;}
.second_content{position:relative; width: calc(100% - 100px);max-width: 1500px;
    background: black; height:1600px; z-index:90;top:0; margin:0 auto;}
.h3_array{width:50%; height:auto; color: #03070e; float:right; padding:3%; transition-duration:1s; transform:translateX(-400px); z-index:1;}
.h3_p{width:60%; float:left;}
.h3_p2{width:40%; float:left;}
.h3_content{

}
.content_array>div:hover .h3_array{transform: translateX(30px);
   transition-duration:1s; color:white;}
.content_array{width:100%; height:auto;}

.content_array>.img_array_7{ height:500px; width:100%; padding:0; margin:0;}
.img_array_7>img{width:auto; z-index:101; position:relative;}
.img_array_7>.h3_array>.h3_p{float:none;}
.content_array>.img_array_8{ height:350px; width:100%; padding:0; margin:0;     padding-top: 3%;}
.img_array_8>img{width:auto; max-width:329px; height:329px; position:relative; z-index:101;}
.img_array_8>.h3_p{float:left;}

.content_array>.img_array_9{ height:500px; width:100%; padding:0; margin:0;     padding-top: 3%;}
.img_array_9>img{width:auto; max-width:329px; height:329px; position:relative; z-index:101;z-index:101;}
.img_array_9>.h3_array>.h3_p{float:none;}