
@media screen and (max-width: 1080px) {
    body {
        overflow-x: hidden;
        min-width: 320px;
    }
    h1{
    color: white;
    margin: 0 auto;
    text-align: center;
    top: 23px;
}
    .loading{display:none;}

    .top_content{padding:0; width:auto;}
    .middle_content .img_content {
        width:auto;
    }
    .middle_content .img_content {
        padding:0;
    }
    .middle_content {
        margin-top:5px;
        position: relative;
        width:auto;
        max-width: 100000px;

        background: #000000;
        height: 2300px;

    }
    .content_array>div>img {
        padding:0;
        width: 100%;
        height: 100%;
    }

    .content_array>div {
        padding:0;
        margin:0;
        width: 100%;
        position: relative;
        font-family: 'Oswald', sans-serif;
        transition-duration: 1s;
        -webkit-transition: width 1s, height 3s;
        transition: all .5s ease-out;
    }
    .side_p {
        font-size: 20px;
        position: absolute;
        width: -moz-fit-content;
        width: fit-content;
        bottom: 94%;
        left:0;
        letter-spacing: 1px;
        text-transform: uppercase;
        -webkit-transform-origin: bottom left;
        -ms-transform-origin: bottom left;
        transform-origin: bottom left;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        transition: -webkit-transform .6s cubic-bezier(.58,.14,.06,1);
        transform: rotate(90deg) translateX(0px);
    }
    .top_content_h2{font-size:11px;     font-weight: 100;}
    .content_array > div{
        padding-top: -20px;
        padding-left: -20px;
        padding-right: -20px;
        padding-bottom: -25px;
    }
    .content_array>.img_array_5{display:none;}
    .p_array p{font-size:24px;}
    .content_array>div>h3{font-size:13px;     font-weight: 100;}
    #section01{margin-top:18px; }
    #section02{}
    .menu_box .menu_inner li {
        float: left;
        text-align: center;
        margin-left: 24px;
    }

    /* 두번째 섹션 */
    .content_array>.img_array_7 {
        height:auto;
        }
    .content_array>.img_array_8 {
        height:auto;
    }
    .content_array>.img_array_9 {
        height:auto;
    }
    .content_array>.img_array_11{margin-bottom:90px;}
    .content_array>.img_array_13{margin-bottom:195px;}
    .content_array>div:hover .h3_array {
        transform: translateX(16px);
        transition-duration: 1s;
        color: white;
        width: 100%;
    }
    .menu_box .menu_inner > ul {
        margin-right: -30px;
        padding: 0 35px 0 0;
        width: 100%;
        position: relative;
        right: -10%;
    }



}