nav{font-family: 'Francois One', sans-serif;}
nav  {    font-size: 19px;}
nav a {width: 100%; color:gray; }
nav h2{margin: 0;
    padding: 0;}
nav div{transition:all .2s; width: 400px; cursor: pointer;}
nav div:hover{  transition:all .2s; background-color:black; }
nav div:hover {color:white; }
nav div:hover h2 a{color:white;}

.banner_out_left{float:left; width:50%;     position: relative;
    z-index: 99;}

.banner_out_right{ float:right; width:50%; height:100%;}
.banner_out_right{font-family: 'Francois One', sans-serif;}
.banner_img{}
.banner_img_set{position:relative; z-index:55;  transition:all 500ms linear; transition-duration: 500ms;}
.banner img{width:100%; height:100%;}
/*
#banner_img2{    bottom: 500px;}
#banner_img3{    bottom: 1000px;}
*/

