*{list-style:none; text-decoration: none;}
a:link { color: gray; }
a:visited { color: gray; }
body{
    color: black;
    line-height: 2;
    font-family: "Roboto",system-ui,-apple-system,BlinkMacSystemFont,"Malgun Gothic",Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif,'Squada One', cursive;;
    font-weight: 400;
    -webkit-text-size-adjust: none;
    -moz-text-size-adjust: none;
    -ms-text-size-adjust: none;
    -o-text-size-adjust: none;
    text-size-adjust: none;
    overflow-x: hidden;
    opacity: 0.3;
    z-index: 100;
    positioN: relative;
    transition:all 1s;
}
html, body {
    font-size: 15px;
}
body {
    position: relative;
}
html, body {
    width: 100%;
    height: 100%;
}
html, body, body, form {
    margin: 0;
    padding: 0;
}
body {
    display: block;
}
header{position: fixed !important;
    width: 100%;
    min-height: 55px;
    z-index: 997;
    padding-top: 17px;
    top: 0;}
.top{width:50px; height:50px; position:fixed; z-index: 99; left: 95%;top: 93%;}
.top img{    width: 50px;height: 50px;}
header{}
.set{    min-height: 100vh;
/*    padding: 15vh 100px;*/
    position: relative;
    box-sizing: border-box;
    transition:all 500ms linear;
z-index:1;
}

.banner{background-color:white;
    min-height: 100vh;
    padding: 11vh 100px;
    position: relative;
    box-sizing: border-box;
    max-height: 100vh;
   }
.banner_inner{    width: 100%;
    height: 90%;min-height: 230px;}
.banner_out{width:100%; height:100%;}
.banner_left{width:50%; float:left; transition:all 500ms linear;}
.banner_right{      padding-left: 30px;  float:right; text-align: right; line-height: 181%; font-size:30px; width:45%; transition:all 500ms linear;}
.banner_right #NSJ{font-size:50px; letter-spacing: -1px;}
.introduction{width:100%;position:relative;}
.introduction img{width:100%; height:auto;}
#git{	padding: 5px 10px;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate( -50%, -50% );
    transition: all 0.5s;
    overflow:hidden;
}
#me{position:relative; overflow:hidden;}
#me img{   transition: all 0.5s; overflow:hidden; width:100%; height:auto;}
#me img:hover{ opacity: 0.5;   transform:scale(1.1); color:black;}
.box_out{background-color: #00000008;}
.box h1{    margin-top: 60%; text-align:center; color:black;}
.box a{color:black; }
.box {position: relative;width: 500px;height: 300px;margin: 54px auto;}
.box-contents {position: absolute;top: 0;right: 0;bottom: 0;left: 0;background: url(https://techcrunch.com/wp-content/uploads/2019/01/IMG_20181016_092551.jpg?w=730&crop=1) 50% 50% / cover no-repeat;
    box-shadow: 0 0 50px rgba(0, 0, 0, .3);transition: .5s ease;}
.hover-point {position: absolute;z-index: 2;width: calc(100% / 3);height: calc(100% / 3);}
.hover-point:nth-child(1) {top: 0;left: 0;}
.hover-point:nth-child(2) {top: 0;left: calc(100% / 3);}
.hover-point:nth-child(3) {top: 0;right: 0;}
.hover-point:nth-child(4) {top: calc(100% / 3);left: 0;}
.hover-point:nth-child(5) {top: calc(100% / 3);right: 0;}
.hover-point:nth-child(6) {bottom: 0;left: 0;}
.hover-point:nth-child(7) {bottom: 0;left: calc(100% / 3);}
.hover-point:nth-child(8) {bottom: 0;right: 0;}
.hover-point:nth-child(1):hover~.box-contents {box-shadow: 15px 15px 50px rgba(0, 0, 0, .3);transform-origin: right top;transform: perspective(1000px) rotateX(10deg) rotateY(-10deg) rotateZ(2deg);}
.hover-point:nth-child(2):hover~.box-contents {box-shadow: 0 15px 50px rgba(0, 0, 0, .3);transform-origin: center top;transform: perspective(1000px) rotateX(10deg);}
.hover-point:nth-child(3):hover~.box-contents {box-shadow: -15px 15px 50px rgba(0, 0, 0, .3);transform-origin: left top;transform: perspective(1000px) rotateX(10deg) rotateY(10deg) rotateZ(-2deg);}
.hover-point:nth-child(4):hover~.box-contents {box-shadow: 15px 5px 50px rgba(0, 0, 0, .3);transform-origin: left center;transform: perspective(1000px) rotateY(-10deg);}
.hover-point:nth-child(5):hover~.box-contents {box-shadow: -15px 5px 50px rgba(0, 0, 0, .3);transform-origin: right center;transform: perspective(1000px) rotateY(10deg);}
.hover-point:nth-child(6):hover~.box-contents {box-shadow: 15px -15px 50px rgba(0, 0, 0, .3);transform-origin: right bottom;transform: perspective(1000px) rotateX(-10deg) rotateY(-10deg) rotateZ(-2deg);}
.hover-point:nth-child(7):hover~.box-contents {box-shadow: 0 -15px 50px rgba(0, 0, 0, .3);transform-origin: center bottom;transform: perspective(1000px) rotateX(-10deg);}
.hover-point:nth-child(8):hover~.box-contents {box-shadow: -15px -15px 50px rgba(0, 0, 0, .3);transform-origin: left bottom;transform: perspective(1000px) rotateX(-10deg) rotateY(10deg) rotateZ(2deg);}

.me_intro{position:relative; z-index:55;}
.me_intro div a {color: white; font-family: sans-serif; font-weight: 500; font-size: 18px; }
.intro{   display: block;font-size: 24px;opacity: .5;speak: none;     margin-top: -40px;}
.about{font-size: 58px;line-height: 0;  font-weight: 500;}
#skill{background: #1ca8dd; text-align: left; width:50%;     display: table-cell; position:relative;}
.skill_intro{position:relative;}
.skill_style{margin-top:15px; font-family: sans-serif;font-weight: 500; width:33%; height:150px; float:left;}
.skill_tittle{font-size: 19px; line-height: 1; background-color:gray; color:white; font-family: 'Francois One', sans-serif; padding: 2px 4px 2px 2px;}
#ppt{    min-height: 100vh;
/*    padding: 15vh 100px;*/
    position: relative;
    box-sizing: border-box;
    background-color:white;
}
.ppt_first{  background-color: white;
    min-height: 100vh;
    padding: 11vh 100px;
    position: relative;
    box-sizing: border-box;
    max-height: 100vh;
    margin-top: 15%;}
.ppt_header{   line-height: 1;font-family: sans-serif;    text-align: center;     margin-top: -46px;}
.ppt_table{    margin-top: 30px;}
/*.ppt_content{margin-top:110px;}*/
.ppt_img1, .ppt_img2,.ppt_img3{    position: relative;}
.ppt_img1 img ,.ppt_img2 img ,.ppt_img3 img{width:52%; float:left;}
.ppt_contents_p{ width:41%; float:right; margin-right:30px;      font-size: 20px; font-family: sans-serif; line-hieght: 1;}
.ppt_contents_p2{  margin-top: 30px;}
table{    width: 100%;}
table th{color:white;}
table th{background: rgba(36, 36, 36, 0.99);}
table thead th {
    background-color: rgba(77,128,153,0.05);
    border-top-width: 1px;
    color: #94979c;
    padding: 1.2em 1em;
}
table th, table td {
    border-bottom: 1px solid #e6e9ea;
    padding: .3em 1em;
    text-align: left;
}

footer{width:100%; height:100px;background-color: #444444; margin-top: 23%;}
.footer_one{font-size:30px; text-align:center; color:white; font-family: sans-serif;}
