@media screen and (max-width: 820px) {
    .banner{    padding: 6vh; margin:0; min-height:1250px;}
    .banner_left{width:30%;}
    .banner_left a{font-size:30px;}
    .banner_right_a a{font-size:20px;}
    .banner_inner{}
    .banner_out_left{width: 100%;margin-bottom: 10%;}
    .banner_out_left a,h2{font-size:23px;}
    .banner_out > .banner_out_right{    float: none;width: 100%;height: auto;}
/*    .banner_out_right{display: none;}*/
    .banner_out_right img{display:none;}
    .intro_me{display:block;}
    #skills{display:block;}

    nav div{width:100%;}
    .ppt_contents{height:auto;}
    .ppt_contents img {width:100%;}
    .ppt_contents_p{width:100%; margin:0;}
    .introduction{margin-top:32%;}
    footer{    margin-top: 40%;}
}
